* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg: #f1f1f1;
    --menu-bg: #fff;
    --menu-color: #333;
    --popup-bg: #fff;
    --popup-color: #333;
    --menu-shadow-color: #0000001a;
}

html[data-theme='light'] {
    --body-bg: #f1f1f1;
    --menu-bg: #fff;
    --menu-color: #333;
    --popup-bg: #fff;
    --popup-color: #333;
    --menu-shadow-color: #0000001a;
}

html[data-theme='light'] .pulse {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    animation: pulse-black 2s infinite;
}

html[data-theme='dark'] {
    --body-bg: #202125;
    --menu-bg: #2a2c31;
    --menu-color: #fff;
    --popup-bg: #2a2c31;
    --popup-color: #fff;
    --menu-shadow-color: rgba(255, 255, 255, 1);
}

html[data-theme='dark'] .pulse {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    animation: pulse-white 2s infinite;
}

body {
    font-family: 'Roboto', sans-serif;

    background-color: var(--body-bg);
}

.container {
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    height: 240px;

    background-color: #fff;

    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    user-select: none;
}

.grid > div.border {
    border: 1px solid #d1d1d1;
}

/*//////////////
MENU
//////////////*/
/* menu button */
.open-menu-btn {
    position: absolute;
    top: 16px;
    left: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(26 115 232);
    height: 45px;
    width: 45px;

    background-color: rgb(232 240 254);
    color: rgb(26 115 232);

    border-radius: 50%;
    cursor: pointer;
}

/* menu */
.menu {
    position: fixed;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    width: 75%;

    padding: 24px;

    font-size: 24px;
    text-align: center;

    color: var(--menu-color);
    background-color: var(--menu-bg);

    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 200ms ease-in-out;
}

.menu.hide {
    transform: translateX(-100%);
}

/* logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.etch {
    border-bottom: 1px solid #306e30;
    border-top: 1px solid #306e30;
}
.a {
    border-bottom: 1px solid orange;
    border-top: 1px solid orange;
}
.sketch {
    border-bottom: 1px solid blueviolet;
    border-top: 1px solid blueviolet;
}

/* buttons */
.range-input {
    color: rgb(26 115 232);
    background-color: rgb(232 240 254);

    border-radius: 4px;
    cursor: pointer;
}

.auto-mode-btn,
.eraser-mode-btn,
.rainbow-mode-btn,
.shade-mode-btn,
.grid-mode-btn,
.dark-mode-btn {
    padding: 3px 12px;

    color: rgb(26 115 232);
    background-color: rgb(232 240 254);

    user-select: none;
    cursor: pointer;
}

.auto-mode-btn.active,
.eraser-mode-btn.active,
.rainbow-mode-btn.active,
.shade-mode-btn.active,
.grid-mode-btn.active,
.dark-mode-btn.active {
    color: #306e30;
    background-color: #c9edc9;
}

.clear-btn,
.close-menu-btn {
    padding: 3px;

    color: rgb(227 18 18);
    background-color: rgb(255 227 231);

    user-select: none;
    cursor: pointer;
}

.color {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    color: rgb(26 115 232);
    background-color: rgb(232 240 254);
}

.color-input {
    width: 40px;
    height: 40px;
    border: none;

    background-color: rgb(232 240 254);

    appearance: none;
    cursor: pointer;
}
.color-input::-webkit-color-swatch {
    border: none;

    border-radius: 4px;
}
.color-input::-moz-color-swatch {
    border: none;

    border-radius: 15px;
}

/* popup */
.popup-overlay {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
    visibility: hidden;
}

.popup {
    width: fit-content;
    padding: 12px;

    font-size: 24px;

    background-color: var(--popup-bg);
    color: var(--popup-color);

    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 175ms ease-out;
}

.popup.hide {
    opacity: 0;
    transform: translateY(60px);
    visibility: hidden;
    transition: all 150ms ease-in;
}

.agree-disagree-buttons {
    display: flex;
    margin-top: 12px;
}

.agree-btn,
.disagree-btn {
    flex: 1;
    border: none;
    padding: 4px;

    font-size: inherit;
    font-family: inherit;

    background: none;

    cursor: pointer;
}

.agree-btn {
    color: #306e30;
    background-color: #c9edc9;
}

.disagree-btn {
    color: rgb(227 18 18);
    background-color: rgb(255 227 231);
}

@keyframes pulse-black {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes pulse-white {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@media (min-width: 320px) {
    .grid {
        width: 280px;
        height: 280px;
    }
}

@media (min-width: 375px) {
    .grid {
        width: 350px;
        height: 350px;
    }
    .menu {
        width: 60%;
    }
}

@media (min-width: 500px) {
    .menu {
        max-width: 280px;
    }

    .grid {
        width: 450px;
        height: 450px;
    }
}

@media (min-width: 768px) {
    .grid {
        width: 550px;
        height: 550px;
    }
}

@media (min-width: 1024px) {
    .grid {
        width: 600px;
        height: 600px;
    }
}

@media (min-width: 1440px) {
    .grid {
        width: 650px;
        height: 650px;
    }
}
