* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    font-family: 'Roboto', sans-serif;

    background-color: #f1f1f1;
}

.container {
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    height: 240px;

    background-color: #fff;

    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    user-select: none;
}
/* Menu */
.open-menu {
    position: absolute;
    top: 16px;
    left: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(26 115 232);
    height: 45px;
    width: 45px;

    background-color: rgb(232 240 254);
    color: rgb(26 115 232);

    border-radius: 50%;
    cursor: pointer;
}

.menu {
    position: fixed;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    width: 75%;

    padding: 24px;

    font-size: 24px;
    text-align: center;

    background-color: #fff;

    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 200ms ease-in-out;
}

.menu.hide {
    transform: translateX(-100%);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.etch {
    border-bottom: 1px solid #306e30;
    border-top: 1px solid #306e30;
}
.a {
    border-bottom: 1px solid orange;
    border-top: 1px solid orange;
}
.sketch {
    border-bottom: 1px solid blueviolet;
    border-top: 1px solid blueviolet;
}

.auto {
    padding: 2px 12px;

    color: rgb(26 115 232);
    background-color: rgb(232 240 254);

    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

/* range input */
.range-input {
    color: rgb(26 115 232);
    background-color: rgb(232 240 254);

    border-radius: 4px;
    cursor: pointer;
}

/* color input */
.color {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    color: rgb(26 115 232);
    background-color: rgb(232 240 254);
}

.color-input {
    width: 40px;
    height: 40px;
    border: none;

    background-color: rgb(232 240 254);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.color-input::-webkit-color-swatch {
    border: none;

    border-radius: 4px;
}
.color-input::-moz-color-swatch {
    border: none;

    border-radius: 15px;
}

/* Clear button */
.eraser,
.rainbow,
.shade,
.grid-lines {
    color: rgb(26 115 232);
    background-color: rgb(232 240 254);

    user-select: none;
    cursor: pointer;
}

.clear,
.close-menu {
    color: rgb(227 18 18);
    background-color: rgb(255 227 231);

    user-select: none;
    cursor: pointer;
}

/* popup message for clear button */
.popup-overlay {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
    visibility: hidden;
}

.popup {
    width: fit-content;
    padding: 12px;

    font-size: 24px;

    background-color: #fff;

    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 175ms ease-out;
}

.popup.hide {
    opacity: 0;
    transform: translateY(60px);
    visibility: hidden;
    transition: all 150ms ease-in;
}

.agree-disagree-buttons {
    display: flex;
    margin-top: 12px;
}

.agree,
.disagree {
    flex: 1;
    border: none;

    font-size: inherit;
    font-family: inherit;

    background: none;

    cursor: pointer;
}

.agree {
    padding: 4px;

    color: #306e30;
    background-color: #c9edc9;
}

.disagree {
    padding: 4px;

    color: rgb(227 18 18);
    background-color: rgb(255 227 231);
}

.border {
    border: 1px solid #d1d1d1;
}

.pulse {
    box-shadow: 0px 0px 1px 1px #0000001a;
    animation: pulse-animation 1.5s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

@media (min-width: 320px) {
    .grid {
        width: 280px;
        height: 280px;
    }
}

@media (min-width: 375px) {
    .grid {
        width: 350px;
        height: 350px;
    }
    .menu {
        width: 60%;
    }
}

@media (min-width: 500px) {
    .menu {
        max-width: 280px;
    }

    .grid {
        width: 450px;
        height: 450px;
    }
}

@media (min-width: 768px) {
    .grid {
        width: 550px;
        height: 550px;
    }
}

@media (min-width: 1024px) {
    .grid {
        width: 600px;
        height: 600px;
    }
}

@media (min-width: 1440px) {
    .grid {
        width: 700px;
        height: 700px;
    }
}
